:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.activity__link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.header-link,
.hero-link,
.list,
.team__list,
.footer-link,
.link,
.footer-soc-list,
.soc {
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: 1px solid red;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: 1px solid green;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: 1px solid blue;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform 300ms;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(180 deg);
}

.modal-close-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  padding-bottom: 12px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: var(--primary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-input-form:focus,
.modal-input-form:hover {
  border-color: var(--accent-color);
}

.modal-input-form:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-field {
  display: block;
  margin: 0;
}

.input-wrap {
  display: block;
  position: relative;
  margin: 0;
}

.check-text {
  color: #757575;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  fill: #ffffff;
  border: none;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
}

.modal-check:focus + .check-text::before {
  border-color: var(--accent-color);
}

.modal-label {
  display: block;
  font-size: 12px;
  font-weight: 400px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
  padding-top: 10px;
}

.modal-text {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.modal-text:focus,
.modal-text:hover {
  border-color: var(--accent-color);
}

.uslovie {
  margin-left: 5px;
  color: var(--accent-color);
}

.button-sabmit-div {
  display: flex;
  justify-content: center;
}

.button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
}

.icon-close-button {
  fill: var(--primary-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-button:hover {
  fill: var(--accent-color);
}

.list {
  display: block;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .list {
    gap: 30px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .list:nth-child(3n) {
    margin-right: 0;
  }
}

.logo__leftpart {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__rightpart {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title-logo {
  display: flex;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-style: Bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: left;
  margin-right: 88px;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.link.current {
  color: var(--accent-color);
}

.button {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  background-color: #f5f4fa;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
  cursor: pointer;
}
.button:hover, .button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #2196f3;
}

.container-header {
  display: flex;
}

.header {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid #ececec;
}
.header:hover, .header:focus {
  color: #2196f3;
}

.my-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}
.my-icon:hover, .my-icon:focus {
  color: #2196f3;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vw;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mob__list {
  position: relative;
  text-align: left;
}

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-connect {
  text-align: left;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-connect__tel {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  border-color: transparent;
  background-color: #ffffff;
  color: #000000;
}
.menu-open-btn:hover, .menu-open-btn:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  border-color: transparent;
  background-color: #ffffff;
}
.menu-close-btn:hover, .menu-close-btn:focus {
  color: #2196f3;
}

.mob__soc {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-bottom: 48px;
}

.mob-soc__item {
  padding-left: 0;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mob-soc__item:nth-last-child(-3n+1) {
  border-right: 1px solid transparent;
  padding-right: 0px;
}
.mob-soc__item:hover, .mob-soc__item:focus {
  border-right: solid blue;
}

.mob-soc__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.hero {
  width: 100% px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 118px;
  padding-top: 118px;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    height: 400px;
    padding-bottom: 118px;
    padding-top: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1200px;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero__title {
  max-width: 400px;
  display: inline-block;
  width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 1600px;
    font-size: 44px;
  }
}

.hero__button {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team__list {
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .img {
    margin-right: 15px;
  }
  .img:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .img {
    margin-right: 15px;
  }
  .img:last-child {
    margin-right: 0;
  }
}

.team__item {
  width: 100%;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    margin-right: 15px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}

.container-soc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.soc {
  display: flex;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc__item:last-child {
  margin-right: 0;
}
.soc__item:hover, .soc__item:focus {
  color: #2196f3;
}

.soc__link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(175, 177, 184);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.soc__icon {
  align-items: center;
  fill: currentColor;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  text-align: right;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}
.connect__link:active {
  color: var(--accent-color);
}

.connect__item {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__item:hover, .connect__item:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .connect__item:not(:last-child) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover, .nav__item:focus {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link:active {
  color: var(--accent-color);
}

.nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}

.nav__list {
  display: flex;
}

.activity-section {
  display: none;
}

.title {
  display: block;
  text-align: center;
  margin-top: -94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity {
  display: none;
  justify-content: space-between;
}

.activity__item {
  display: block;
  width: 370px;
  justify-content: space-between;
  margin-right: 30px;
  position: relative;
}

.activity__item:nth-child(3n) {
  margin-right: 0;
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.clients__item {
  width: 210px;
  height: 92x;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: rgb(175, 177, 184);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: #ffffff;
  fill: var(--accent-color);
}

.clients__icon {
  align-items: center;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
}

.portfolio__button {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}

.list-portfolio {
  display: block;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-portfolio:nth-child(3n) {
  margin-right: 0;
}
.list-portfolio:hover, .list-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio:hover .content-top-text {
  transform: translateY(0%);
}

.shadow:hover,
.shadow:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content-top-wrap {
  position: relative;
  overflow: hidden;
}

.content-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link {
  display: block;
  margin-right: 8px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:nth-child(5n) {
  margin-right: 0;
}
.hero-link:hover, .hero-link:focus {
  color: var(--accent-color);
}

.post-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.post-text {
  font-size: 16px;
  line-height: 2;
  color: #757575;
}
.post-text:hover, .post-text:focus {
  color: var(--accent-color);
}

.hero-item {
  cursor: pointer;
}

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  background: #2f303a;
}

.container-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .container-footer {
    flex-direction: row;
  }
}

.footer__contacts {
  display: block;
  align-items: center;
  padding-bottom: 60px;
}

.footer__adress {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer__adress:hover, .footer__adress:focus {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footer__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}

.footer__link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__item {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:hover, .footer__item:focus {
  color: var(--accent-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-link-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer-slogan {
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-slogan {
    margin-top: 65px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-slogan {
    margin-top: 72px;
    margin-left: 70px;
  }
}

.footer-send {
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-send {
    margin-top: 72px;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 20px;
}
.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc-list {
    padding-right: 93px;
  }
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.footer-soc-icon {
  align-items: center;
  fill: currentColor;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-text {
    text-align: left;
  }
}

.mail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .mail-box {
    flex-direction: row;
  }
}

.footer-modal-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-modal-button {
  display: block;
  font-family: inherit;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  line-height: 30px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 62px;
  margin-top: 20px;
}
.footer-modal-button:hover, .footer-modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .footer-modal-button {
    margin-top: 0;
  }
}

.icon-send {
  display: block;
  align-items: center;
}

.name-modal-icon {
  fill: var(--primary-white-color);
  position: absolute;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
    flex-direction: row;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skils {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skils__item {
  width: 450px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .skils__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .skils__item {
    width: 270px;
  }
}

.skils__icon {
  padding-top: 25px;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
}
@media screen and (min-width: 768px) {
  .skils__icon {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .skils__icon {
    width: 270px;
    height: 120px;
  }
}

.skils__title-icon {
  width: 70px;
  height: 70px;
}

.skils__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skils__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}/*# sourceMappingURL=main.css.map */