.portfolio__button {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-bottom: -15px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}
.list-portfolio {
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    margin-bottom: 0;
  }
}

.list-portfolio:hover .content-top-text {
  transform: translateY(0%);
}
.shadow:hover,
.shadow:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content-top-wrap {
  position: relative;
  overflow: hidden;
}

.content-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 15px;

  display: block;
  margin-right: 8px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-child(5n) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.post-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.post-text {
  font-size: 16px;
  line-height: 2;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hero-item {
  cursor: pointer;
}
.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-elements {
  display: block;
  border: 1px solid #ececec;
  border-top: none;
  padding: 20px 24px 20px 24px;
}
