.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.skils {
  display: block;
}
.skils__item {
  display: block;
  width: 450px;
  text-align: center;
}

.skils__icon {
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
}
.skils__title-icon {
  width: 70px;
  height: 70px;
}

.skils__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.skils__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}
